<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>The user was successfully added!</p>
<ul>
    <li th:text="${contact.name}"></li>
    <li th:text="${contact.email}"></li>
    <li th:text="${contact.contactNumber}"></li>
</ul>

</body>
</html>