<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Present the Contacts</title>
</head>
<body>
<div style="position: center;  text-align: center">
    <h2>List of searched contact:</h2>

    <table style="font-family: 'Trebuchet MS',Arial,sans-serif" width="75%" >

    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Contact number</th>
    </tr>
        <!--print out the values for each contact obect stored in the contactlist. -->
        <tr th:each="contact : ${contactList}" style="list-style-type: none">
            <td th:text="${contact.name}" style="border: 1px solid #ddd"></td>
            <td th:text="${contact.email}"style="border: 1px solid #ddd"></td>
            <td th:text="${contact.contactNumber}" style="border: 1px solid #ddd"></td>
            <td>
                <!--in order to identify the contact row that we want to delte, we store the object into a hidden input.
                we find the object in the database, store the values name,email and contactnumber in input hidden, and then delete it -->
                <form action="#" th:action="@{/delete}" th:method="post" th:object="${contact}" class="form-group">
                    <input type="hidden" name="name" th:value="${contact.name}">
                    <input type="hidden" name="email" th:value="${contact.email}">
                    <input type="hidden" name="contactNumber" th:value="${contact.contactNumber}">
                    <button type="submit">Delete</button>
                </form>

                <!-- same as above just that we send the values into the editContact method, that will store the object in the database instead of delete it-->
                <form action="#" th:action="@{/editContact}" th:method="post" th:object="${contact}" class="form-group">
                    <input type="hidden" name="name" th:value="${contact.name}">
                    <input type="hidden" name="email" th:value="${contact.email}">
                    <input type="hidden" name="contactNumber" th:value="${contact.contactNumber}">
                    <button type="submit">Edit</button>
                </form>
            </td>
        </tr>
    </table>

</div>
</body>
</html>