<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>The contact has been updated!</p>
<ul>
    <li th:text="${oldContact.name}"></li>
    <li th:text="${oldContact.email}"></li>
    <li th:text="${oldContact.contactNumber}"></li>
</ul>
<ul>
    <li th:text="${newContact.name}"></li>
    <li th:text="${newContact.email}"></li>
    <li th:text="${newContact.contactNumber}"></li>
</ul>

</body>
</html>